/*fonts*/
@font-face{
    font-family: OpenSans;
    src: url('../landing-page/fonts/open-sans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: OpenSans;
    src: url('../landing-page/fonts/open-sans/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: Raleway;
    src: url('../landing-page/fonts/releway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: Raleway;
    src: url('../landing-page/fonts/releway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
/*-fonts*/
/*root*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 
    --colorWhite:hsl(0, 0%, 100%); 
    --colorDarkBlue1: hsl(217, 28%, 15%);
    --colorDarkBlue2: hsl(218, 28%, 13%);
    --colorDarkBlue3: hsl(216, 53%, 9%);
    --colorDarkBlue4: hsl(219, 30%, 18%);
    --colorDarkBlue5: hsla(216, 18%, 16%, 0.616);
    --colorCyan: hsl(176, 68%, 64%);
    --colorBlue: hsl(198, 60%, 50%);
    --colorLightRed: hsl(0, 100%, 63%);
}

body {
    font-size: 14px;
    background: var(--colorDarkBlue1);
    font-family: OpenSans;
    color: var(--colorWhite);
}

.wrapper {
        
}
/*-root*/
/*width*/
.width-70 {
    width: 70%;
    margin: auto;
}

.width-90 {
    width: 90%;
    margin: auto;
}
/*-width*/
/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 7fr;
    margin: 4rem 0;
}
/*navigation*/
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 2rem;
    align-items: center;
}

.navigation .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5rem; 
    justify-content: flex-end;
}

.nav-list li:hover {
    text-decoration: underline;
    font-weight: bold;
}

.nav-list a{
    text-decoration: none;
    color: var(--colorWhite);
    font-family: Raleway;
    font-size: 1.1rem;
}
/*-navigation*/
/*hero*/
.hero {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

.hero .hero-content__img {
    margin: 2rem;
}

.hero .hero-content__title {
    font-size: 3rem;
    font-family: Raleway;
    font-weight: bold;
}

.hero .hero-content__description {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 2.1rem;
}

.hero .hero-content__button {
    background: linear-gradient(0deg, var(--colorBlue), var(--colorCyan));
    color: var(--colorWhite);
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 2rem;
    border: none;    
}

.hero .hero-content__button:hover {
    background: var(--colorCyan);
}
/*-hero*/
/*-header*/
/*main*/
.main {
    background: var(--colorDarkBlue2);
    margin: 0;
    position: relative;
}

.main .wave {
    background-image: url('./images/bg-curvy-desktop.svg');
    width: 100%;
    height: 30rem;
    position: absolute;
    top: -27rem;
    left: 0;
    right: 0; 
    background-size: 100%;    
}
/*content__item*/
.main .content__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6rem;
    padding: 6rem 0;
}

.content__item .item__img {
    margin: 2rem;
}

.content__item .item__title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Raleway;
}

.content__item .item__description {    
    line-height: 1.4rem;
}
/*-content__item*/
/*content__product*/
.main .content__product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 2rem;
    margin: 4rem auto;
}

.content__product .main-content__productive{
    margin: 0 4rem 0 4rem;
    text-align: left;
}

.main-content__productive .productive__title {
    font-size: 3rem;
    font-family: Raleway;
    font-weight: bold;
    text-align: left;
}

.main-content__productive .productive__info1 , .productive__info2 {
    line-height: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}

.main-content__productive .productive__links a{    
    text-decoration: none;
    color: var(--colorCyan);
    font-size: 1.3rem;
    border-bottom: 1px solid var(--colorCyan);
}

.main-content__productive .productive__links a:hover{
    color: var(--colorWhite);
    border-bottom: 1px solid var(--colorWhite);
}
/*-content__product*/
/*content__comment*/
.main .content__comment {
    padding: 10rem 4rem 20rem 4rem;
}

.main .main-content__comments {
    display: flex;
    flex-direction: row;
    gap: 3rem; 
}

.main .comment {
    background: var(--colorDarkBlue4);
    border-radius: 1rem;
    padding: 2rem;
}

.comment .comment__commentary {
    text-align: left;
    line-height: 1.4rem;
}

.comment .profile {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: 1.5rem;
    align-items: center;
}

.profile .profile__img img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1.2rem 0 0 0;
}

.profile .profile__name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}
/*-content__comment*/
/*-main*/
/*footer*/
.footer {
    background: var(--colorDarkBlue3);
    display: grid;    
}
/*card*/
.footer .card {
    background: var(--colorDarkBlue4);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    justify-self: center;
    margin-top: -10rem;
    z-index: 99;
}

.card .card__title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Raleway;
}

.card .card__description {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem;
}
/*form*/
.card .card-form {
    margin-top: 1.5rem;
}

.card-form .card-form__email{
    background: var(--colorWhite);
    color: var(--colorDarkBlue5);
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2rem;
    margin-right: 2rem; 
    width: 50%;
    text-align: left;
}

.card-form .card-form__button {
    background: linear-gradient(0deg, var(--colorBlue), var(--colorCyan));
    color: var(--colorWhite);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    margin-top: 1rem;
}

.card-form .card-form__button:hover {
    background: var(--colorCyan);
}

.card-form[data-error]::after {
    content: attr(data-error);
    color: var(--colorLightRed);
}
/*-form*/
/*-card*/
/*info*/
.footer .info {
    display: grid;
    grid-template-columns: 3fr 2fr 1.5fr 1.5fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    flex-grow: 1;
    gap: 1.5rem;
    padding: 12rem 0 8rem 0;
    font-size: 1.1rem;
}
/*info-ubication*/
.info-ubication .content-ubication {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.info-ubication .info-ubication__img {
    margin-top: -3.7rem;
}

.info-ubication .info-ubication__description {
    
    line-height: 2rem;
}
/*-info-ubication*/
/*info-phoneemail*/
.info .info-phoneemail {
    display: grid;
}

.info-phoneemail .info-phone {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.info-phoneemail .info-email {
    display: flex;
    gap: 1rem;
}
/*-info-phoneemail*/
/*info-aboutus*/
.info-aboutus .info-aboutus__list {
    list-style: none;
    margin-top: 1rem;
}    

.info-aboutus .info-aboutus__list li{
    margin: 1rem;
}

.info-aboutus .info-aboutus__list a{
    text-decoration: none;
    color: var(--colorWhite);
}
/*-info-aboutus*/
/*info-contacts*/
.info-contacts .info-contacts__list {
    list-style: none;
}    

.info-contacts .info-contacts__list li{
    margin: 1rem;
}

.info-contacts .info-contacts__list a{
    text-decoration: none;
    color: var(--colorWhite);
}
/*-info-contacts*/
/*info-socialmedia*/
.info .info-socialmedia {
    margin: 1rem;
    justify-self: center;
}
/*-info-socialmedia*/
/*-info*/
/*-footer*/
/*icons*/
.fa .fa-arrow-circle-right {
    display: inline-block;
    color: var(--colorCyan);
}

.icon .fa-map-marker {
    color: var(--colorCyan);
}

.icon-contact .fa {
    color: var(--colorWhite);
}

.icon .fa{
    color: var(--colorWhite);
}

.icon-social .fa{
    color: var(--colorWhite);
    border-radius: 50%;
    border: 1px solid var(--colorWhite);
    padding: .5rem;
    margin: .3rem;
}

.icon-social .fa-facebook {
    padding-left: .7rem;
    padding-right: .7rem;
}

.icon-social .fa:hover{
    color: var(--colorCyan);
    border-radius: 50%;
    border: 1px solid var(--colorCyan);
}
/*icons*/
/*movil*/
@media(max-width:26.8rem) {
    html {
        display: flex;
    }
    .width-70 {
        width: 90%;
    }

    .width-90 {
        width: 85%;
    }

    .header .navigation {
        width: 85%;
    }

    .navigation .nav-list {
        gap: 2rem;
    }

    .hero .hero-content__img img{
        width: 95%;
    } 

    .main .wave {
        background-image: url('./images/bg-curvy-mobile.svg');
        width: 100%;
        height: 15rem;
        position: absolute;
        top: -13rem;
        left: 0;
        right: 0;  
        background-repeat: no-repeat; 
        background-size: 100%; 
    }

    .main .content__item {
        grid-template-columns: 1fr;
        padding: 0;
        width: 80%;
    }

    .main .content__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .content__product .product__img img{
        margin-top: 8rem;
        padding: 2rem;
    }

    .main .main-content__comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer .card {
        width: 85%;
    }

    .card-form .card-form__email{ 
        width: 90%;
        margin-right: 0;
    }
    
    .card-form .card-form__button {
        width: 90%;
    }

    .footer .info {
        grid-template-columns: 1fr;
    }


}
/*-movil*/