/*fonts*/
@font-face{
    font-family: OpenSans;
    src: url('../landing-page/fonts/open-sans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: OpenSans;
    src: url('../landing-page/fonts/open-sans/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: Raleway;
    src: url('../landing-page/fonts/releway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: Raleway;
    src: url('../landing-page/fonts/releway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
/*-fonts*/
/*root*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 
    --colorWhite:hsl(0, 0%, 100%); 
    --colorDarkBlue1: hsl(217, 28%, 15%);
    --colorDarkBlue2: hsl(218, 28%, 13%);
    --colorDarkBlue3: hsl(216, 53%, 9%);
    --colorDarkBlue4: hsl(219, 30%, 18%);
    --colorCyan: hsl(176, 68%, 64%);
    --colorBlue: hsl(198, 60%, 50%);
    --colorLightRed: hsl(0, 100%, 63%);
}

body {
    font-size: 14px;
    background: var(--colorDarkBlue1);
    font-family: OpenSans;
    color: var(--colorWhite);
}

.wrapper {
        
}
/*-root*/
/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 7fr;
    margin: 4rem 4rem 0 4rem;
}
/*navigation*/
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 2rem;
    align-items: center;
}

.navigation .nav {
    text-align: right;
    margin: 0rem 0rem 0rem 15rem;
}

.navigation .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5rem; 
}

.nav-list a{
    text-decoration: none;
    color: var(--colorWhite);
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.1rem;
}
/*-navigation*/
/*hero*/
.hero {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

.hero .hero-content__img {
    margin: 2rem;
}

.hero .hero-content__title {
    font-size: 3rem;
    font-family: Raleway;
    font-weight: bold;
    width: 51.5rem;
}

.hero .hero-content__description {
    font-size: 1.6rem;
    width: 45rem;
    line-height: 2rem;
    margin: 2.1rem;
}

.hero .hero-content__button {
    background: var(--colorCyan);
    color: var(--colorWhite);
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 2rem;
    text-shadow: black 0.1rem 0.1rem 0.2rem;
}
/*-hero*/
/*-header*/
/*main*/
.main {
    background: var(--colorDarkBlue2);
    margin: 0;
}
/*content__item*/
.main .content__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center ;
    flex-grow: 1;
    gap: 6rem;
    padding: 6rem 15rem;
}

.content__item .item__img {
    margin: 2rem;
}

.content__item .item__title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Raleway;
}

.content__item .item__description {    
    line-height: 1.4rem;
}
/*-content__item*/
/*content__product*/
.main .content__product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 2rem;
    margin: 4rem 4rem 4rem 4rem;
}

.content__product .main-content__productive{
    margin: 0 4rem 0 4rem;
    text-align: left;
}

.main-content__productive .productive__title {
    font-size: 3rem;
    font-family: Raleway;
    font-weight: bold;
    text-align: left;
}

.main-content__productive .productive__info1 , .productive__info2 {
    line-height: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}

.main-content__productive .productive__links a{
    position: relative;
    text-decoration: none;
    color: var(--colorCyan);
    font-size: 1.3rem;
}

.main-content__productive .productive__links a::after{
    content: '';
    position: absolute;
    width: 11rem;
    height: .1rem;
    background-color: var(--colorCyan);
    margin: 1.5rem 0  0 -11rem;
}
/*-content__product*/
/*content__comment*/
.main .content__comment {
    padding: 10rem 4rem 20rem 4rem;
}

.main .main-content__comments {
    display: flex;
    flex-direction: row;
    gap: 3rem; 
}

.main .comment {
    background: var(--colorDarkBlue4);
    border-radius: 2rem;
    padding: 2rem;
}

.comment .comment__commentary {
    text-align: justify;
    line-height: 1.4rem;
}

.comment .profile {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: 1.5rem;
    align-items: center;
}

.profile .profile__img img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1.2rem 0 0 0;
}

.profile .profile__name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

/*-content__comment*/
/*-main*/
/*footer*/
.footer {
    background: var(--colorDarkBlue3);
}
/*-footer*/
